@import url(css/reset.css);
@import url(css/base.css);
@import url(css/layout.css);
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
	font-family: 'Heebo', sans-serif;
   padding: 1.5em;
   background: #FFF0F5;
}

#main{
	font-family: 'Heebo', sans-serif;
	height: 300px;
	background: gray;
}
