@import url(reset.css);
@import url(base.css);
@import url(layout.css);
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
	font-family: 'Heebo', sans-serif;
}

.Button {
    margin: 5px;
}

.w-btn {
margin: 5px;
    width:10%;
	height:6%;
	font-family: 'Heebo', sans-serif;
   text-align: center;
    position: relative;
    border: none;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size:10px;
    font-weight: 500;
    transition: 0.25s;
}

.w-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}
